<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nestledemo">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.NestleDemo">
        <activity android:name=".ui.components.social.SocialActivity"/>
        <activity android:name=".ui.components.stores.StoresActivity" />
        <activity android:name=".ui.components.coffeedispense.CoffeeDispenseActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.components.payment.PaymentActivity"
            android:configChanges="orientation|keyboardHidden|smallestScreenSize"
            android:label="@string/payment" />
        <activity
            android:name=".ui.components.rewards.RewardsActivity"
            android:configChanges="orientation|keyboardHidden|smallestScreenSize"
            android:label="@string/rewards" />
        <activity
            android:name=".ui.components.flavors.FlavorsActivity"
            android:configChanges="orientation|keyboardHidden|smallestScreenSize"
            android:label="@string/flavors" />
        <activity
            android:name=".ui.components.profile.ProfileActivity"
            android:configChanges="orientation|keyboardHidden|smallestScreenSize"
            android:label="@string/nav_profile" />
        <activity
            android:name=".ui.components.base.BaseActivity"
            android:configChanges="orientation|keyboardHidden|smallestScreenSize" />
        <activity
            android:name=".ui.components.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|smallestScreenSize" />
        <activity
            android:name=".ui.components.home.HomeActivity"
            android:configChanges="orientation|keyboardHidden|smallestScreenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.components.barcode.SimpleScannerActivity"
            android:configChanges="orientation|keyboardHidden|smallestScreenSize" />
        <activity
            android:name=".ui.components.addons.AddonActivity"
            android:configChanges="orientation|keyboardHidden|smallestScreenSize"
            android:label="@string/up_sale" />
        <activity
            android:name=".ui.components.splash.SplashActivity"
            android:configChanges="orientation|keyboardHidden|smallestScreenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>